body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
}

#news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

article {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
}

article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Анимация загрузки */
.lds-ellipsis,
.lds-ellipsis div {
box-sizing: border-box;
}
.lds-ellipsis {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
margin: 50px auto; /* Центровка загрузчика */
}
.lds-ellipsis div {
position: absolute;
top: 33.33333px;
width: 13.33333px;
height: 13.33333px;
border-radius: 50%;
background: currentColor;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
  transform: scale(0);
}
100% {
  transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
  transform: scale(1);
}
100% {
  transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
  transform: translate(0, 0);
}
100% {
  transform: translate(24px, 0);
}
}